h1 {
    color: navajowhite;
    text-align: center;
    font-size: 300%;
}
body, html {
    display: block;
    background-image: url("images/kunde.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Status {
    color: navajowhite;
    text-align: center;
    font-size: 120%;
}
.newOrderButton {
    display: block;
    margin: auto;
    width: 8%;
    height: 20%;
    font-size: 150%;
}


@media only screen and (min-width : 300px) and (max-width: 400px) {
    body, html {
        display: block;
        background: #2a2727;
    }
    h1 {
        text-align: center;
        font-size: 200%;
    }
    .Status {
        color: navajowhite;
        text-align: center;
        font-size: 120%;
    }
    .newOrderButton {
        display: block;
        margin: auto;
        width: 40%;
        font-size: 150%;
    }
}


@media only screen and (min-width: 470px) and (max-width: 500px) {
    body, html {
        display: block;
        background: #2a2727;
    }
    h1 {
        text-align: center;
        font-size: 200%;
    }
    .Status {
        color: navajowhite;
        text-align: center;
    }
    .newOrderButton {
        display: block;
        margin: auto;
        width: 40%;
    }
}